---
import ProjectCard from "./react/projectCard.tsx"

const projects = [
  { 
    name: 'Rifas Velez', 
    description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl eget ultricies ultrices, nisi nisl tincidunt nisi, euismod aliquam nisl nisi euismod.', 
    image: '/project-velez.webp', 
    status: 'Desplegado', 
    url: 'https://rifasvelez.com/' 
  },
  { 
    name: 'StockIn', 
    description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl eget ultricies ultrices, nisi nisl tincidunt nisi, euismod aliquam nisl nisi euismod.', 
    image: '/project-stockin.webp', 
    status: 'Desplegado', 
    url: 'http://stockin-demo.vercel.app/' 
  },
]
---

<section class="flex flex-col items-center lg:flex-row gap-8 lg:gap-2 md:py-60 text-white max-w-7xl mx-auto sm:px-6 lg:px-8">
  <!-- Izquierda -->
  <aside class="lg:w-1/2 flex flex-col justify-center text-center lg:text-left">
    <div class="max-w-2xl mx-auto lg:mx-0 space-y-6">
      <h2 class="text-balance text-2xl sm:text-3xl lg:text-4xl font-bold leading-tight">
        Creamos experiencias digitales que impulsan tu negocio
      </h2>
      <p class="text-pretty opacity-80 text-sm sm:text-base">
        Desarrollamos aplicaciones escalables, optimizadas y centradas en la experiencia del usuario.
      </p>
      <a class="inline-flex px-8 py-3 rounded-xl items-center gap-2 bg-zinc-200 font-bold text-black monospace hover:opacity-80 transition-opacity duration-200" href="#">
        Escribenos
        <svg  xmlns="http://www.w3.org/2000/svg" class="size-5" viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M15 16l4 -4" /><path d="M15 8l4 4" /></svg>
      </a>
    </div>
  </aside>

  <!-- Derecha -->
<div class="lg:w-1/2">
  <div class="w-full flex gap-2 pb-2">
    <button 
      id="scroll-left" 
      class="cursor-pointer p-2 rounded-full bg-zinc-800 text-white hover:opacity-80 transition-opacity duration-200"
    >
      <svg  xmlns="http://www.w3.org/2000/svg" class="size-5 rotate-180" viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M15 16l4 -4" /><path d="M15 8l4 4" /></svg>
    </button>
    <button 
      id="scroll-right" 
      class="cursor-pointer p-2 rounded-full bg-zinc-800 text-white hover:opacity-80 transition-opacity duration-200"
    >
      <svg  xmlns="http://www.w3.org/2000/svg" class="size-5" viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M15 16l4 -4" /><path d="M15 8l4 4" /></svg>
    </button>
  </div>

  <!-- Cards -->
  <div id="scroll-container" class="flex overflow-x-auto snap-x snap-mandatory scroll-smooth scrollbar-none">
    {projects.map(({ name, description, image, status, url}) => (
      <div class="min-w-full snap-start">
        <ProjectCard client:load name={name} description={description} image={image} status={status} url={url} />
      </div>
    ))}
  </div>

</div>
</section>

<style>
/* Chrome, Safari y Opera */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.scrollbar-none {
  scrollbar-width: none;
}

/* IE y Edge */
.scrollbar-none {
  -ms-overflow-style: none;
}
</style>

<script>
  const container = document.getElementById("scroll-container");
  const leftBtn = document.getElementById("scroll-left");
  const rightBtn = document.getElementById("scroll-right");

  const scrollAmount = container.offsetWidth;

  leftBtn.addEventListener("click", () => {
    container.scrollBy({ left: -scrollAmount, behavior: "smooth" });
  });

  rightBtn.addEventListener("click", () => {
    container.scrollBy({ left: scrollAmount, behavior: "smooth" });
  });
</script>
