---
const services = [
    {
        category: "Desarrollo y Diseño Web",
        color: "from-green-700/40",
        dot: "bg-green-500",
        title: "Crea tu Presencia Online",
        description:
            "Desarrollamos y diseñamos sitios web rápidos, seguros y optimizados que enamoran a tus clientes.",
    },
    {
        category: "Marketing y Publicidad",
        color: "from-blue-700/40",
        dot: "bg-blue-500",
        title: "Haz Crecer tu Negocio",
        description:
            "Campañas efectivas para posicionar tu marca y atraer más clientes.",
    },
    {
        category: "Soluciones para Negocios",
        color: "from-orange-700/40",
        dot: "bg-orange-500",
        title: "Optimiza Procesos",
        description:
            "Implementamos soluciones digitales y escalables para que tu negocio crezca.",
    },
];
---

<section id="servicios" class="max-w-7xl mx-auto pt-12 py-14">
    <h2
        class="text-3xl md:text-4xl font-semibold text-[var(--white)] mb-10 text-center"
    >
        Nuestros servicios
    </h2>
    <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 border border-white/20 bg-[var(--black)]"
    >
        {
            services.map((service) => (
                <div
                    class={`relative p-8 via-transparent ${service.color} text-white to-transparent`}
                >
                    <div class="inline-flex items-center gap-2.5 mb-4">
                        <span class={`size-2.5 rounded-full ${service.dot}`} />
                        <span class="text-sm rounded-full text-zinc-300">
                            {service.category}
                        </span>
                    </div>
                    <h3 class="text-xl font-semibold mb-2">{service.title}</h3>
                    <p class="text-gray-400 text-sm font-semibold leading-relaxed">
                        {service.description}
                    </p>
                </div>
            ))
        }
    </div>
</section>
